@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
font-family: "Inter";
}
h1{
    text-align: center;
    background-color: #09859E;
    color: white;
}
h3{
    margin-top: -16%;
    margin-left: 16%;

}

ul {
    display: inline;
    margin-left: 12%;
    margin-bottom: 10%;
}
li{
    display: inline-flex;
    font-weight: bold;
}
span{
    font-weight: 200;
    padding-left: 5px;
}
.Peli{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 66vw;
}
img{
   margin-bottom: 5%;
}
.Peli2{
    border-right: 1px solid black;
    margin-top: 5px;
    margin-left: 34vw;
    margin-right: 34vw;
    margin-top: -36.5vw;
}
.Peli1{
    margin-left: 10%;
    border-right: 1px solid black;
}
.Peli3{
    margin-top: 20px;
    margin-left: 66vw;
    margin-right: 2vw;
    margin-top: -36.5vw;
}

input{
    margin-top: 2vw;
    cursor: pointer;
    margin-left: 16%;
}
